.shelf-skeleton-item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.shelf-skeleton-image {
  width: 100%;
  height: 300px;
  background: linear-gradient(90deg,#CCC 25%, #EEE 37%, #CCC 63%
  );
  background-size: 400% 100%;
  animation: shimmer 1.4s infinite;
}

.shelf-skeleton-text {
  height: 16px;
  width: 70%;
  background: linear-gradient(90deg, #CCC 25%, #EEE 37%, #CCC 63%);
  background-size: 400% 100%;
  animation: shimmer 1.4s infinite;
}

@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }

  100% {
    background-position: -100% 0;
  }
}
