.controls-wrapper {
  margin: 30px 0 12px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
}

@media (min-width: 321px) {
  .controls-wrapper {
    flex-direction: row;
  }
}
