.double-banner-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.double-banner-item {
  position: relative;
  flex: 1 1 100%;
}

.double-banner-figure {
  position: relative;
  margin: 0;
  overflow: hidden;
}

.double-banner-picture,
.double-banner-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.5s ease;
}

.double-banner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.double-banner-caption {
  position: absolute;
  bottom: 50px;
  left: 40px;
  display: flex;
  flex-direction: column;
  color: var(--white);
  z-index: 2;
}

.double-banner-title {
  margin-bottom: 6px;
  font-size: 16px;
  font-weight: 600;
}

.double-banner-description {
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: 500;
}

.double-banner-button {
  width: fit-content;
  padding: 15px 30px;
  border-radius: 36px;
  background: var(--white);
  font-size: 16px;
  font-weight: 700;
  color: var(--black);
  cursor: pointer;
  border: none;
  transition: background 0.3s ease;
}

.double-banner-button:hover {
  background: #f2f2f2;
}

@media (min-width: 768px) {
  .double-banner-item {
    flex: 1 1 48%;
  }

  .double-banner-description {
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  .double-banner-caption {
    bottom: 80px;
    left: 40px;
  }

  .double-banner-description {
    font-size: 32px;
  }
}

@media (min-width: 1280px) {  
  .double-banner-caption {
    bottom: 80px;
    left: 60px;
  }

  .double-banner-description {
    font-size: 42px;
  }
}
