.dropdown {
  position: relative;
  display: inline-block;
  flex: 1;
  width: 100%;
}

.dropdown-button {
  padding: 8px 16px;
  border: 1px solid #ccc;
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 46px;
  font-size: 14px;
  cursor: pointer;
}

.arrow {
  margin-left: 8px;
  font-size: 12px;
}

.arrow-up svg {
  transform: rotate(-180deg);
}

.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid #ccc;
  background: white;
  z-index: 10;
}

.dropdown-item {
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
}

.dropdown-item:hover,
.dropdown-item.active {
  background-color: var(--gray-light);
}

@media (min-width: 768px) {
  .dropdown {
    flex: none;
    width: auto;
  }

  .dropdown-button {
    width: 180px;
    font-size: 16px;
  }
}
