.triple-banner-wrapper {
  padding: 20px 0;
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  gap: 12px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.triple-banner-wrapper::-webkit-scrollbar {
  display: none;
}

.triple-banner-item {
  position: relative;
  width: 100%;
  scroll-snap-align: start;
}

.triple-banner-figure {
  position: relative;
  margin: 0;
  width: 100%;
  height: 540px;
  overflow: hidden;
  cursor: pointer;
}

.triple-banner-image {
  object-fit: cover;
  object-position: center center;
  transition: transform 0.5s ease;
}

.triple-banner-figure:hover .triple-banner-image {
  transform: scale(1.1);
}

.triple-banner-caption {
  position: absolute;
  bottom: 30px;
  left: 24px;
  color: var(--white);
  z-index: 2;
}

.triple-banner-button {
  padding: 15px 30px;
  border-radius: 36px;
  background: var(--white);
  font-size: 16px;
  font-weight: 700;
  color: var(--black);
  border: none;
  cursor: pointer;
}

@media (min-width: 768px) {
  .triple-banner-wrapper {
    grid-auto-flow: unset;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px 0;
  }

  .triple-banner-figure {
    height: 760px;
  }
}

@media (min-width: 1024px) {
  .triple-banner-wrapper {
    padding: 40px 0;
  }

  .triple-banner-caption {
    bottom: 40px;
    left: 60px;
  }
}
